.recipe-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 0 auto;
}
.meal {
  flex-direction: row;
  max-width: 22%;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
  margin: 10px;
}

.meal header h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 0px;
  line-height: 1.8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  font-family: tahoma;
  padding: 0 20px;
}
.meal p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  font-size: 16px;
  line-height: 1.6em;
  margin-top: 0px;
  margin-bottom: 12px;
  min-height: 25px;
  font-family: arial verdana sans-serif;
  padding: 0 20px;
}

.meal p.info {
  float: left;
  color: #ccc;
  padding: 0;
}

.meal p.info svg {
  float: left;
}

.meal p.info span {
  margin-top: 5px;
  display: inline-block;
}

.meal img {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .meal {
    max-width: 44%;
  }
  .meal img {
    max-width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .meal {
    max-width: 100%;
  }
  .meal img {
    max-width: 100%;
  }
}
